@font-face {
    font-family: 'LucidaSansTypewriterOblique';
    src: url('LucidaSansTypewriterOblique.eot');
    src: url('LucidaSansTypewriterOblique.eot') format('embedded-opentype'),
         url('LucidaSansTypewriterOblique.woff') format('woff'),
         url('LucidaSansTypewriterOblique.ttf') format('truetype'),
         url('LucidaSansTypewriterOblique.svg#LucidaSansUnicodeRegular') format('svg');
}